<% include ../includes/header.ejs %>
	
	<!--Body -->
	<div id="content">
		<div class="cart-pay">
			<div class="container">
				<ul class="tab-pay">
					<li><span>1</span><strong>Thông tin giỏ hàng</strong></li>
					<li><span>2</span><strong>Thông tin khách hàng</strong></li>
					<li class="active"><span>3</span><strong>Thông tin thanh toán</strong></li>
					<li><span>4</span><strong>Hoàn thành</strong></li>
				</ul>
				<div style="text-align: center; font-size: 20px; color: #FF1493; padding: 10px 0; border-top: 1px dashed; border-bottom: 1px dashed; margin-bottom: 30px">
					<h3 style="text-transform: uppercase; margin-bottom: 30px">Chọn loại thanh toán</h3>
					<div id="paypal"></div>
				</div>
				<div class="table-responsive list-cart">
					<table class="table table-hover" data-static="true">
						<thead>
							<tr>
								<th style="text-align: center;">STT</th>
								<th style="text-align: center;">Hình ảnh</th>
								<th>Thông tin</th>
								<th style="text-align: center;">Số lượng</th>
								<th style="text-align: center;">Tổng giá</th>
							</tr>
						</thead>
						<tbody>
							<tr class="total-price">
								<td colspan="4" class="lb-sum">Tổng cộng</td>
								<td class="cost-sum">0 đ</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-lg-6 col-sm-6 col-xs-12">
					<div class="customer-info">
						<h3 style="margin-bottom: 20px;">Thông tin người nhận</h3>
						<div class="name"><strong>Họ và tên: </strong><i><%= content.receiverInfo.name %></i></div>
						<div class="phone"><strong>Số điện thoại: </strong><i><%= content.receiverInfo.phone %></i></div>
						<div class="date"><strong>Ngày giao hàng: </strong><i><%= content.receiverInfo.date %></i></div>
						<div class="address"><strong>Địa chỉ giao: </strong><i><%= content.receiverInfo.address + " - "+ content.receiverInfo.district + " - " + content.receiverInfo.city %></i></div>
					</div>
				</div>
				<div class="col-lg-6 col-sm-6 col-xs-12">
					<div class="customer-info">
						<h3 style="margin-bottom: 20px;">Phương thức thanh toán</h3>
						<div><strong>Hình thức nhận hàng: </strong><i><%= content.billingInfo.recieveName %></i></div>
						<div><strong>Hình thức thanh toán: </strong><i><%= content.billingInfo.payMethodName %></i></div>
					</div>
				</div>
				<div class="clearfix" style="margin-bottom: 20px"></div>
			</div>
		</div>
	</div>	
		<script src="https://js.braintreegateway.com/web/3.16.0/js/client.min.js"></script>
		<script src="https://js.braintreegateway.com/web/3.16.0/js/paypal-checkout.min.js"></script>
		<script src="https://www.paypalobjects.com/api/checkout.js" data-version-4></script>
		<script type="text/javascript" src="/js/paypal.js"></script>
	<% include ../includes/footer.ejs %>