	<% include includes/header.ejs %>
	
	<!--Body -->
	<div id="content">
		<div class="cart-pay">
			<div class="container">
				<ul class="tab-pay">
					<li class="active"><span>1</span><strong>Thông tin giỏ hàng</strong></li>
					<li><span>2</span><strong>Thông tin khách hàng</strong></li>
					<li><span>3</span><strong>Thông tin thanh toán</strong></li>
					<li><span>4</span><strong>Hoàn thành</strong></li>
				</ul>
				<div class="table-responsive list-cart">
					<table class="table table-hover">
						<thead>
							<tr>
								<th style="text-align: center;">STT</th>
								<th style="text-align: center;">Hình ảnh</th>
								<th>Thông tin</th>
								<th style="text-align: center;">Số lượng</th>
								<th style="text-align: center;">Tổng giá</th>
								<th style="text-align: center;">Công cụ</th>
							</tr>
						</thead>
						<tbody>
							<tr class="total-price">
								<td colspan="4" class="lb-sum">Tổng cộng</td>
								<td class="cost-sum">0 đ</td>
								<td> </td>
							</tr>
						</tbody>
					</table>
				</div>
				<div><a href="/pay/receiver-info" id="to-receiver-info" class="next-step">Thanh toán</a></div>
			</div>
		</div>

		<div class="product related-product">
			<div class="container">
				<h2> Sản phẩm mới nhất </h2>
				<% content.newProducts.forEach(function(newProduct){ %>
					<div class="col-xs-12 col-sm-6 col-md-3">
					    <div class="thumbnail">
					      	<a href="/product/<%= newProduct.slug %>">
					        	<img class="img-responsive" src="<%= newProduct.imgPath %>" alt="Image">
					      	</a>
					        <div class="caption">
					         	<a href="/product/<%= newProduct.slug %>"><h3 class="product-name"><%= newProduct.name %></h3></a>
								<p class="price"><%= newProduct.price %> đồng</p>
								<span class="glyphicon glyphicon-shopping-cart add-cart" data-id="<%= newProduct._id %>"> Thêm</span>
					        </div>
					    </div>
				  	</div>
			  	<% }); %>
			</div>
		</div>
	</div>		
		
	<% include includes/footer.ejs %>