	<% include includes/header.ejs %>
	<!--Body -->
	<div id="content">
		<div class="product_detail">
			<div class="container">
				<div class="col-md-4 col-lg-4 hinh_anh_chi_tiet">
					<img src="<%= content.avatarPath %>">
				</div>

				<div class="col-md-8 col-lg-8" id="thong_tin">
					<h2><%= content.name %></h2>
					<br>
					<div class="profile-detail">
						<% if(content.hasPassword) { %>
						<div class="item no-fix">
							<div class="col-xs-3 title">Tên đăng nhập:</div>
							<div class="col-xs-9 info"><i><%= content.username %></i></div>
						</div>
						<div class="item">
							<div class="edit" data-info><a href="/change-password"><i class="fa fa-pencil" aria-hidden="true"></i></a></div>
							<div class="col-xs-3 title">Mật khẩu:</div>
							<div class="col-xs-9 info"><i>**************</i></div>
						</div>
						<% } %>
						<div class="item">
							<div class="edit" data-info>
								<div class="form" id="edit-email" style="display: none;">
									<input type="email" name="email" placeholder="Email mới" class="form-control" style="display: inline-block; width: auto;">
									<button style="background: #00b0ff; color: #fff; border: none; border-radius: 2px; height: 32px; width: 50px">Đổi</button>
								</div>
								<i class="fa fa-pencil icon-click" aria-hidden="true"></i>
							</div>
							<div class="col-xs-3 title">Email:</div>
							<div class="col-xs-9 info"><i><%= content.email %></i></div>
						</div>
						<div class="item">
							<div class="edit" data-info>
								<div class="form" id="edit-phone" style="display: none;">
									<input type="phone" name="phone" placeholder="Số điện thoại" class="form-control" style="display: inline-block; width: auto;">
									<button style="background: #00b0ff; color: #fff; border: none; border-radius: 2px; height: 32px; width: 50px">Đổi</button>
								</div>
								<i class="fa fa-pencil icon-click" aria-hidden="true"></i>
							</div>
							<div class="col-xs-3 title">Số điện thoại:</div>
							<div class="col-xs-9 info"><i><%= content.phone %></i></div>
						</div>
						<div class="item">
							<div class="edit" data-info>
								<div class="form" id="edit-addr" style="display: none;">
									<input type="text" name="addr" placeholder="Địa chỉ" class="form-control" style="display: inline-block; width: auto;">
									<button style="background: #00b0ff; color: #fff; border: none; border-radius: 2px; height: 32px; width: 50px">Đổi</button>
								</div>
								<i class="fa fa-pencil icon-click" aria-hidden="true"></i>
							</div>
							<div class="col-xs-3 title">Địa chỉ:</div>
							<div class="col-xs-9 info"><i><%= content.address %></i></div>
						</div>
						<div class="item no-fix">
							<div class="col-xs-3 title">Ngày đăng ký:</div>
							<div class="col-xs-9 info"><i><%= content.dateAdded %></i></div>
						</div>
					</div>
				</div>
			</div>	
		</div>
		<div class="cart-pay">
			<div class="container">
				<h2>Lịch sử mua hàng</h2>
				<div class="table-responsive list-cart">
					<table class="table table-hover bill-history">
						<thead>
							<tr>
								<th style="text-align: center;">STT</th>
								<th>Mã đơn hàng</th>
								<th>Ngày tạo</th>
								<th style="text-align: center;">Danh sách sản phẩm</th>
								<th style="text-align: center;">Tổng tiền</th>
								<th class="text-primary" style="text-align: center;">Đã thanh toán</th>
								<th class="text-success" style="text-align: center;">Đã giao</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
				<div style="text-align: center"><a href="#" id="viewmore" class="next-step" style="float: none">Xem thêm</a></div>
			</div>
		</div>
	</div>	
	<script type="text/javascript" src="/js/profile.js"></script>
		
	<% include includes/footer.ejs %>