	<% include includes/header.ejs %>

	<div class="clearfix"></div>
		<div id="site-container" class="menu-full">

		<% include includes/sidebar.ejs %>

		<div class="content-footer">
			<div class="content">
				<!-- Big sub-panel -->
				<div class="base-info">
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="item item-loai-hoa">
							<div class="col-md-5 col-sm-12 col-xs-12">
								<div class="row">
									<div class="count-top">
										<span class="fa fa-pagelines"></span><span class="dashboard-quickview">Tổng số</span>
									</div>
								</div>
							</div>
							<div class="count col-md-7 col-sm-12 col-xs-12"> <%= countBills %><small>đơn hàng</small></div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="item item-san-pham">
							<div class="col-md-5 col-sm-12 col-xs-12">
								<div class="row">
									<div class="count-top">
										<span class="fa fa-yelp"></span><span class="dashboard-quickview">Chưa thanh toán</span>
									</div>
								</div>
							</div>
							<div class="count col-md-7 col-sm-12 col-xs-12"> <%= countBillNotPaid %> <small>đơn</small></div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="item item-don-hang">
							<div class="col-md-5 col-sm-12 col-xs-12">
								<div class="row">
									<div class="count-top">
										<span class="fa fa-clone"></span><span class="dashboard-quickview">Huỷ</span>
									</div>
								</div>
							</div>
							<div class="count col-md-7 col-sm-12 col-xs-12"> <%= countBillCanceled %> <small>đơn</small></div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="item item-nguoi-dung">
							<div class="col-md-5 col-sm-12 col-xs-12">
								<div class="row">
									<div class="count-top">
										<span class="fa fa-users"></span><span class="dashboard-quickview">Doanh thu tuần</span>
									</div>
								</div>
							</div>
							<div class="count col-md-7 col-sm-12 col-xs-12"><small> <%= revenueInWeek %> </small></div>
						</div>
					</div>
				</div>

				<div class="box">
					<div class="box-title">
						<h1>Đơn hàng <a href="admin.orders.html" class="btn btn-primary">Thêm</a></h1>

					<div class="bills-filter" style="overflow: auto; margin-bottom: 20px">

						<a href="#" class="float-left active" id="bill-all">Tất cả (<%= countBills %>)</a>
						<a href="#" class="float-left" id="bill-delivered">Đã giao hàng (<%= countBillDelivered %>)</a>
						<a href="#" class="float-left" id="bill-not-delivered">Chưa giao hàng (<%= countBillNotDelivered %>)</a>
						<a href="#" class="float-left" id="bill-paid">Đã thanh toán (<%= countBillPaid %>)</a>
						<a href="#" class="float-left" id="bill-not-paid">Chưa thanh toán (<%= countBillNotPaid %>)</a>
						<a href="#" class="float-left" id="bill-completed">Đã hoàn tất (<%= countBillCompleted %>)</a>
						<a href="#" class="float-left" id="bill-canceled">Đã huỷ (<%= countBillCanceled %>)</a>
					</div>
					<div class="clear"></div>
						<div class="form-group">
							<div class="col-xs-3 float-right">
							<input type="search" id="bills-search" placeholder="Từ khóa tìm kiếm" class="form-control">
							</div>
						</div>


						<div class="btn btn-primary">Xóa</a></div>
						<div class="btn btn-primary">Sửa</a></div>
						<div class="btn btn-primary">Thanh toán</a></div>

						<div class="clear"></div>
					</div>
					<div class="box-content">
						<!-- https://ps.w.org/woocommerce/assets/screenshot-2.png?rev=1063946 -->
						<!-- Responsive table -->
						<div style="overflow-x:auto;">
							<table class="order-table">
								<thead >
									<tr>
										<td><div class="checkbox"><label><input type="checkbox" value=""></label></div></td>
										<td style="">ID</td>
										<td>Người nhận</td>
										<td>Địa chỉ</td>
										<td style="">Giỏ hàng</td>
										<td style="">Số tiền</td>
										<td style="">Thời gian</td>
										<td>Phương thức thanh toán</td>
										<td>Tình trạng</td>
									</tr>
								</thead>
								<tbody id="bills">

								</tbody>
							</table>
							<div style="text-align: center;"><div style="display: inline-block; padding: 5px 30px; border: 1px solid rgba(0,0,0,0.3); cursor: pointer;" id="viewmore">Xem thêm</div></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/admin/js/admin.bill.js"></script>
</body>
</html>
