	<% include includes/header.ejs %>

	<div class="clearfix"></div>
		<div id="site-container" class="menu-full">
		
		<% include includes/sidebar.ejs %>

		<div class="content-footer">
			<div class="content">
				<!-- Big sub-panel -->
				<div class="base-info">
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="item item-loai-hoa">
							<div class="col-md-5 col-sm-12 col-xs-12">
								<div class="row">
									<div class="count-top">
										<span class="fa fa-pagelines"></span><span class="dashboard-quickview">Nhóm sản phẩm</span>
									</div>
								</div>
							</div>
							<div class="count col-md-7 col-sm-12 col-xs-12"> <%= countCategories %> <small>nhóm</small></div>
						</div>
					</div>
					<div class="col-md-3 col-sm- 6 col-xs-12">
						<div class="item item-don-hang">
							<div class="col-md-5 col-sm-12 col-xs-12">
								<div class="row">
									<div class="count-top">
										<span class="fa fa-clone"></span><span class="dashboard-quickview">Bán chạy nhất</span>
									</div>
								</div>
							</div>
							<div class="count col-md-7 col-sm-12 col-xs-12"> <small><%= bestSellProduct %></small></div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="item item-san-pham">
							<div class="col-md-5 col-sm-12 col-xs-12">
								<div class="row">
									<div class="count-top">
										<span class="fa fa-yelp"></span><span class="dashboard-quickview">SP mới trong tuần</span>
									</div>
								</div>
							</div>
							<div class="count col-md-7 col-sm-12 col-xs-12"><%= countNewProduct %><small>SP</small></div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="item item-nguoi-dung">
							<div class="col-md-5 col-sm-12 col-xs-12">
								<div class="row">
									<div class="count-top">
										<span class="fa fa-users"></span><span class="dashboard-quickview">SP khuyến mãi</span>
									</div>
								</div>
							</div>
							<div class="count col-md-7 col-sm-12 col-xs-12"><%= countPromotionProduct %><small>SP</small></div>
						</div>
					</div>
				</div>

				<div class="box">
					<div class="box-title">
						<h1>Danh sách sản phẩm <a href="/admin/product/add" class="btn btn-primary">Thêm</a></h1>

						<div class="product-info">
							<a href="#" class="float-left filter-product active" id="product-all">Tất cả (<%= countProduct %>)</a>
							<a href="#" class="float-left filter-product" id="product-stock">Còn hàng (<%= countStockProduct %>)</a>
							<a href="#" class="float-left filter-product" id="product-out-of">Hết hàng (<%= countOutOfProduct %>)</a>
							<a href="#" class="float-left filter-product" id="product-deleted">Đã xoá (<%= countDeletedProduct %>)</a>
							<a href="#" class="float-left filter-product" id="product-stop-sell">Ngừng bán (<%= countStopSellProduct %>)</a>
						</div>

						<div class="clear"></div>
							<div class="btn btn-default">Xử lí loạt</a></div>
							<div class="btn-group">
							  <button type="button" id="delete-product" class="btn btn-primary">Xoá</button>
							  <button type="button" id="sale-product" class="btn btn-primary">Bán</button>
							  <button type="button" id="stop-product" class="btn btn-primary">Ngừng bán</button>
							</div>


						<div class="col-xs-2 float-right">
							<input placeholder="Tìm kiếm" type="search" id="product-search" class="form-control">
						</div>
						<select name="category" class="form-control float-right" style="display: inline-block; width: auto">
							<option value="0">Chọn danh mục sản phẩm</option>
							<% categories.forEach(function(category){ %>
								<option value="<%= category.slug %>"><%= category.name %></option>
							<% }); %>
						</select>

						<div class="clear"></div>
					</div>
					<div class="box-content">
						<!-- https://ps.w.org/woocommerce/assets/screenshot-2.png?rev=1063946 -->
						<!-- Responsive table -->
						<div style="overflow-x:auto;">
							<table>
								<thead>
									<tr>
										<td style="width: 1%">
											<div class="checkbox">
												<label><input id="check-all" type="checkbox" value=""></label>
											</div>
										</td>
										<td style="width: 10%">Hình ảnh</td>
										<td style="width: 14%">Tên sản phẩm</td>
										<td style="width: 10%">Số lượng</td>
										<td style="width: 8%">Giá</td>
										<td style="width: 8%">Giá khuyến mãi</td>
										<td style="width: 15%">Nhóm sản phẩm</td>
										<td style="width: 15%">Thời gian thêm vào</td>
										<td style="width: 10%">Tình trạng</td>
									</tr>
								</thead>
								<tbody id="products">
								</tbody>
							</table>
							<div style="text-align: center;">
								<div class="view-more" style="display: inline-block; padding: 5px 30px; margin-top: 30px; cursor: pointer; border: 1px solid rgba(0,0,0,0.2)">Xem thêm sản phẩm</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/admin/js/admin.product.js"></script>

</body>
</html>
