	<% include includes/header.ejs %>

	<div class="clearfix"></div>
		<div id="site-container" class="menu-full">
		
		<% include includes/sidebar.ejs %>

		<div class="content-footer">
			<div class="content">
				<!-- Big sub-panel -->
				<div class="base-info">
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="item item-loai-hoa">
							<div class="col-md-5 col-sm-12 col-xs-12">
								<div class="row">
									<div class="count-top">
										<span class="fa fa-pagelines"></span><span class="dashboard-quickview">Nhóm sản phẩm</span>
									</div>
								</div>
							</div>
							<div class="count col-md-7 col-sm-12 col-xs-12"> <%= countCategories %> <small>nhóm</small></div>
						</div>
					</div>
					<div class="col-md-3 col-sm- 6 col-xs-12">
						<div class="item item-don-hang">
							<div class="col-md-5 col-sm-12 col-xs-12">
								<div class="row">
									<div class="count-top">
										<span class="fa fa-clone"></span><span class="dashboard-quickview">Bán chạy nhất</span>
									</div>
								</div>
							</div>
							<div class="count col-md-7 col-sm-12 col-xs-12"> <small><%= bestSellProduct %></small></div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="item item-san-pham">
							<div class="col-md-5 col-sm-12 col-xs-12">
								<div class="row">
									<div class="count-top">
										<span class="fa fa-yelp"></span><span class="dashboard-quickview">SP mới trong tuần</span>
									</div>
								</div>
							</div>
							<div class="count col-md-7 col-sm-12 col-xs-12"><%= countNewProduct %><small>SP</small></div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="item item-nguoi-dung">
							<div class="col-md-5 col-sm-12 col-xs-12">
								<div class="row">
									<div class="count-top">
										<span class="fa fa-users"></span><span class="dashboard-quickview">Sản phẩm khuyến mãi</span>
									</div>
								</div>
							</div>
							<div class="count col-md-7 col-sm-12 col-xs-12"><%= countPromotionProduct %><small>SP</small></div>
						</div>
					</div>
				</div>

				<div class="box">
					<div class="box-title">
						<h1>Danh sách sản phẩm <a href="admin.products.add.html" class="btn btn-primary">Thêm</a></h1>

						<div class="product-info">
							<a href="/admin/product" class="float-left" id="product_all"><h2>All (<%= countProduct %>)</h2></a>
							<a href="/admin/product/stock" class="float-left" id="product_stock">Còn hàng (<%= countStockProduct %>)</a>
							<a href="/admin/product/outOf" class="float-left" id="product_outOf">Hết hàng (<%= countOutOfProduct %>)</a>
							<a href="/admin/product/deleted" class="float-left" id="product_deleted">Đã xoá (<%= countDeletedProduct %>)</a>
							<a href="/admin/product/deleted" class="float-left" id="product_deleted">Ngừng bán (<%= countStopSellProduct %>)</a>

							<div class="form-group">
								<a href="admin.products.html" class="btn btn-primary float-right">Tìm kiếm</a>
								<div class="col-xs-2 float-right">
								<input type="search" id="product-search" class="form-control">
								</div>
							</div>
						</div>

						<div class="clear"></div>
							<div class="btn btn-default">Xử lí loạt</a></div>
							<div class="btn-group">
							  <button type="button" class="btn btn-primary">Xoá</button>
							  <button type="button" class="btn btn-primary">Bán</button>
							  <button type="button" class="btn btn-primary">Ngừng bán</button>
							</div>


						<div class="btn btn-default">Thời gian</a></div>
						<div class="btn-group">
						  <button type="button" class="btn btn-primary">Tất cả</button>
						  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
						    <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" role="menu">
						    <li><a href="#">Tháng 4, 2017</a></li>
						    <li><a href="#">Tháng 3, 2017</a></li>
								<li><a href="#">Tháng 2, 2017</a></li>
								<li><a href="#">Tháng 1, 2017</a></li>
								<li><a href="#">Tháng 12, 2017</a></li>
						  </ul>
						</div>

						<div class="btn btn-default">Phân loại</a></div>
						<div class="btn-group">
						  <button type="button" class="btn btn-primary">Tất cả</button>
						  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
						    <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" role="menu">
						    <li><a href="#">Hoa tình yêu</a></li>
						    <li><a href="#">Hoa Tết</a></li>
								<li><a href="#">Hoa cưới</a></li>
								<li><a href="#">Hoa thường</a></li>
								<li><a href="#">Hoa trang trí</a></li>
								<li><a href="#">Hoa cưa gái</a></li>
						  </ul>
						</div>

						<a href="admin.products.html" class="btn btn-default float-right">Trang tiếp</a>
						<a href="admin.products.html" class="btn btn-default float-right">10</a>
						<a href="admin.products.html" class="btn btn-default float-right">......</a>
						<a href="admin.products.html" class="btn btn-default float-right">3</a>
						<a href="admin.products.html" class="btn btn-default float-right">2</a>
						<a href="admin.products.html" class="btn btn-default float-right">1</a>


						<div class="clear"></div>
					</div>
					<div class="box-content">
						<!-- https://ps.w.org/woocommerce/assets/screenshot-2.png?rev=1063946 -->
						<!-- Responsive table -->
						<div style="overflow-x:auto;">
							<table>
								<thead>
									<tr>
										<td style="width: 1%">
											<div class="checkbox">
												<label><input type="checkbox" value=""></label>
											</div>
										</td>
										<td style="width: 10%">Hình ảnh</td>
										<td style="width: 14%">Tên sản phẩm</td>
										<td style="width: 10%">Số lượng</td>
										<td style="width: 8%">Giá</td>
										<td style="width: 8%">Giá khuyến mãi</td>
										<td style="width: 15%">Nhóm sản phẩm</td>
										<td style="width: 15%">Thời gian thêm vào</td>
										<td style="width: 10%">Tình trạng</td>
									</tr>
								</thead>
								<tbody>
									<% for (i = 0 ; i < products.length; i++ ){ %>

										<tr>
											<td><div class="checkbox"><label><input id="product-select-all-btn" type="checkbox" value=""></label></div></td>
											<td><img src=<%=products[i].imgPath %> class="img-thumbnail"></td>
											<td> <%= products[i].name %></td>
											<td><%= products[i].quality %></td>
											<td><%= products[i].price %></td>
											<td><%= products[i].newPrice %></td>
											<td><%= products[i].categorySlug %></td>
											<td><%= products[i].dateAdded %></td>
											<td><%= products[i].status %></td>
										</tr>
									<% }; %>
									
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
