	<% include includes/header.ejs %>

	<div class="clearfix"></div>
		<div id="site-container" class="menu-full">
		
		<% include includes/sidebar.ejs %>

		<div class="content-footer">
			<div class="content">

				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="box">
						<div class="box-title">
							<h1>Thống kê doanh thu</h1>
							<span class="toggle-box fa fa-angle-down"></span>
						</div>
						<div class="box-content">
							<table class="list-product statistic">
								<thead>
									<tr>
										<td>Thời gian</td>
										<% statistic.dates.forEach(function(date){ %>
											<td><%= date.month + 1 %>/<%= date.year %></td>
										<% }) %>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><b>Doanh thu</b></td>
										<% statistic.dates.forEach(function(date){ %>
											<td><b><%= statistic.revenue[date.month+"-"+date.year] %></b></td>
										<% }) %>
									</tr>
								</tbody>
							</table>
							<canvas id="c-doanh-thu" width="1040" height="400"></canvas>

							<script>
							var buyerData = {
									labels : [
										<% statistic.dates.forEach(function(date){ %>
											'<%= date.month + 1 %>/<%= date.year %>',
										<% }) %>
									],
									datasets : [
									{
											fillColor : "rgba(0, 176, 255, 0.2)",
											strokeColor : "rgb(0, 176, 255)",
											pointColor : "#fff",
											pointStrokeColor : "rgb(0, 176, 255)",
											data : [
											<% statistic.dates.forEach(function(date){ %>
												<%= statistic.revenue[date.month+"-"+date.year] %>,
											<% }) %>
											]
										}
									]
								}

								// get line chart canvas
								var buyers = document.getElementById('c-doanh-thu').getContext('2d');

								// draw line chart
								new Chart(buyers).Line(buyerData);

							</script>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
